:root {
  /* Custom color palette */
  --background: rgb(24, 31, 54); /* #323B42 */
  --foreground: rgb(102, 195, 128); /* #FCFBF9 */

  --card: rgba(96, 255, 71, 0.7); /* #D9C7BE */
  --card-foreground: rgb(81, 120, 159); /* #323B42 */

  --popover: rgb(92, 48, 105); /* #D9C7BE */
  --popover-foreground: hsla(209, 12%, 22%, 1); /* #323B42 */

  --primary: rgb(63, 87, 166); /* #635B58 link*/
  --primary-foreground: rgb(57, 12, 87); /* #FCFBF9 */

  --secondary: rgb(25, 188, 0); /* #A59B95 cabecera*/
  --secondary-foreground: hsla(209, 12%, 22%, 1); /* #323B42 */

  --h1: rgb(0, 0, 0); /* #8C817B */
  --h2: rgb(255, 255, 255); /* #FCFBF9 */

  --accent: hsl(114, 100%, 84%); /* #B5A79F fondo texto*/
  --accent-foreground: rgb(96, 255, 71); /* #635B58 */

  --destructive: rgb(0, 0, 0); /* #3B3634 texto*/
  --destructive-foreground: rgb(166, 211, 52); /* #FCFBF9 */

  --border: hsla(28, 13%, 61%, 1); /* #A59B95 */
  --input: hsla(28, 12%, 68%, 1); /* #B5A79F */
  --ring: hsla(209, 12%, 22%, 1); /* #323B42 */

  /* Combinations */
  .card {
    background-color: var(--card);
    color: var(--card-foreground);
  }

  .popover {
    background-color: var(--popover);
    color: var(--popover-foreground);
  }

  .primary {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }

  .secondary {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
  }

  .muted {
    background-color: var(--muted);
    color: var(--muted-foreground);
  }

  .accent {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }

  .destructive {
    background-color: var(--destructive);
    color: var(--destructive-foreground);
  }
}
